# Python
_pycache_/
*.pyc
.venv/
venv/

# Terraform
.terraform/
*.tfstate
.tfstate.
crash.log
crash.*.log
*.tfvars

# Environment / secrets
.env
.env.*
*.pem
*.key

# IDE / OS
.vscode/
.DS_Store
Thumbs.db